extends layout

block content
  div
    h2.text-center Login
    form(action="/auth/login" method="POST" class="form-signin")
      .form-group
        label(for="username") Username
        input.form-control(type="text" name="username" id="username")
      .form-group
        label(for="password") Password
        input.form-control(type="password" name="password" id="password")
      button(type="submit", class="btn btn-primary mt-3") Login
  hr
  div
    h2.text-center Register
    form(action="/auth/register" method="POST")
      .form-group
        label(for="username") Username
        input.form-control(type="text" name="username" id="username")
      .form-group
        label(for="password") Password
        input.form-control(type="password" name="password" id="password")
      .form-group
        label(for="passwordConfirm") Confirm Password
        input.form-control(type="password" name="passwordConfirm" id="passwordConfirm")
      button(type="submit", class="btn btn-primary mt-3") Register

